body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.nav-custom {
    background-color: white !important;
    border-top: 2px solid #0000ff !important;
    box-shadow: 0px 2px #e7e7e7;
}

.logo {
    width: 50px;
    height: 50px;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent !important;
    color: #0000ff !important;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #0000ff !important;
}

.navbar-brand {
    padding: 0% !important;
    margin-left: 100px;
}

.left-nav {
    font-weight: 600;
}

.last {
    margin-right: 100px !important;
}

.btn-custom {
    border: 1px solid #0c0cfc;
    color: white !important;
    font-weight: bold;
    background-color: #0000ff;
    padding: 5px !important;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: rgba(204, 204, 247, 0.904) !important;
}

.btnLi {
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 150px;
}

.navbar-nav>li>.dropdown-menu {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav>li>.dropdown-menu>a {
    color: #696969 !important;
    margin-left: 20px;
    font-weight: 600;
}

.navbar-nav>li>.dropdown-menu>a:hover {
    color: black !important;
}

.form-group {
    position: relative;
}

.form-group .icon {
    position: absolute;
    top: 10px;
    left: 25px;
    color: blue;
}

.search-input {
    text-indent: 20px;
    margin-bottom: 50px;
}

.search-section {
    border-bottom: 2px solid #e7e7e7;
}

.card-section {
    height: 60vh;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    box-shadow: 2px 2px #e7e7e7;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: black;
}

.card:hover {
    background-color: #e7e7e7;
}

.card-logo {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.footer {
    background-color: #302f38;
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
}

/* Sign Up, Sign In and Submit modal */
.new-modal{
    padding-top: 10px;
    margin-top: 60px;
}

.modal-close {
    position: absolute;
    right: -20px;
    height: 35px !important;
    width: 35px !important;
    font-weight: 700;
    font-size: 1.6em !important;
}

.m-signup {
    bottom: 570px;
}

.m-signin {
    bottom: 520px;
}

.m-submit {
    bottom: 545px;
}

.modal-close i {
    color: white !important;
}

.modal-close:hover {
    color: white !important;
    border-radius: 20px;
    background-color: #4836d5;
}

.sub {
    margin-top: 20px;
}

.line {
    margin-top: -12px;
    border-bottom: 1px solid #e7e7e7;
}

.s-line {
    margin-top: 10px;
    border-bottom: 1px solid #e7e7e7;
}

.second-row {
    display: flex;
}

.social {
    width: 50%;
}

.social-btn .btn, .social .btn {
    width: 250px;
    height: 50px;
    font-size: 1.4em;
    color: white;
    padding-top: 10px;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-facebook:hover {
    background-color: #325296;
}

.btn-github {
    background-color: #24292e;
}

.btn-github:hover {
    background-color: #1d2125;
}

.btn-google {
    background-color: #4836d5;
}

.btn-google i {
    padding: 5px;
    background-color: white;
    color:  #4836d5;
}

.btn-submit {
    background-color: #0000ff !important;
    color: white !important;
}

.social-btn .btn:hover, .social .btn:hover {
    color: white;
}

.span-line {
    border-bottom: 2px solid #e7e7e7;
    width: 46%;
    height: 0px;
    margin-top: 10px;
}

.or {
    width: 8%;
}

.grey {
    color: grey;
}

/* Side bar */

.bkg-color {
    background-color: #f8f8f8;
}

.side-bar {
    border: 2px solid #337ab7 !important;
    border-radius: 5px;
    background-color: #e1ebea !important;
}

.side-h {
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 2px #337ab7 !important;
}

.side-bar p {
    font-size: 1.1em;
}

.filterCourse label, .filterCourse span {
    font-size: 1.0em;
}

/* Courses cards */

.course-page {
    margin-bottom: 20px;
}

.course-side {
    background-color: white;
    border: 2px solid #e7e7e7;
}

.title {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.title p {
    margin-left: 10px;
}

.filter-butons a {
    padding-right: 10px;
    padding-left: 10px;
}

.btn-2 {
    border-left: 2px solid #e7e7e7;
}

.course-card {
    height: 12vh;
    border-top: unset;
}

.btn-primary.active {
    border: 2px solid #e7e7e7 !important;
    background-color: #f8f8f8 !important;
}

.btn-primary {
    background-color: #e7e7e7 !important;
    border: 2px solid #e7e7e7 !important;
}

.square {
    margin-top: 15px;
}

.square i, .square h4 {
    color: grey !important;
    padding: 1px 8px;
}

.square i {
    font-size: 1.5em;
}

.square h4 {
    margin-top: -2px;
}

.info-part span {
    margin-right: 5px;
    color: grey;
}

.info-part span a {
    color: grey;
}

.tags a {
    background-color: #e1ebea;
    padding: 1px 5px 1px 5px;
    margin-right: 5px;
}

.course-title {
    color: black !important;
}

.course-pad {
    padding-top: 10px;
}

.padding {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.btn-pad {
    background-color: #337ab7;
    color: white;
}

.opt {
    padding-top: 7vh;
    padding-bottom: 7vh;
}

/* alert messages */

.alert {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*
* Admin page
*/

.nav-change {
    height: 8vh;
}

.nav-admin {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 70px !important;
    width: 70px !important;
}

.btn-link {
    color: white !important;
}

.margin-purple {
    margin-top: 20vh;
    margin-bottom: 27vh;
}

.form-padd {
    padding-top: 5vh;
}

.bg-purple {
    background-color: purple;
    border-radius: 20px;
    color: white;
    padding: 5vh 0px 7vh 0px;
}

.margin-purple {
    margin-bottom: 34vh;
}

/* admin panel page */

.accepted {
    background-color: #77d877;
}

.rejected {
    background-color: #e79292;
}

.unresponded {
    background-color: #f5f56f;
}

.table-header {
    background-color: dimgrey;
    color: white;
}